## Uploading csv file to mysql database :

https://www.projectpro.io/recipes/connect-mysql-python-and-import-csv-file-into-mysql-and-create-table

In [2]:
import mysql.connector as c

ModuleNotFoundError: No module named 'mysql'

In [2]:
con = c.connect(host="localhost",user="root",password="mohit@123",database="campusx")

In [3]:
if con.is_connected():
    print("succesfully connected")

succesfully connected

---
---
---

In [ ]:
import pandas as pd

dataset_path = r"D:\SQL\data\datasets-session-37\ipl.csv"
ipl = pd.read_csv(dataset_path)

In [ ]:
ipl.info()

In [ ]:
ipl.columns

In [ ]:
# renaming - as _
ipl.columns=['ID', 'innings', 'overs', 'ballnumber', 'batter', 'bowler',
       'non_striker', 'extra_type', 'batsman_run', 'extras_run', 'total_run',
       'non_boundary', 'isWicketDelivery', 'player_out', 'kind',
       'fielders_involved', 'BattingTeam']

In [ ]:
import mysql

In [ ]:
import mysql.connector as msql

In [ ]:
from mysql.connector import Error
import mysql.connector

try:
    conn = mysql.connector.connect(host='localhost', database='campusx', user='root', password='mohit@123')
    if conn.is_connected():
        cursor = conn.cursor()
        cursor.execute("select database();")
        record = cursor.fetchone()
        print("You're connected to database: ", record)
        cursor.execute('DROP TABLE IF EXISTS ipl;')
        print('Creating table....')
        
        create_table_query = """
        CREATE TABLE ipl (
            ID INT NOT NULL,
            innings INT NOT NULL,
            overs INT NOT NULL,
            ballnumber INT NOT NULL,
            batter VARCHAR(255) NOT NULL,
            bowler VARCHAR(255) NOT NULL,
            non_striker VARCHAR(255) NOT NULL,
            extra_type VARCHAR(255),
            batsman_run INT NOT NULL,
            extras_run INT NOT NULL,
            total_run INT NOT NULL,
            non_boundary INT NOT NULL,
            isWicketDelivery INT NOT NULL,
            player_out VARCHAR(255),
            kind VARCHAR(255),
            fielders_involved VARCHAR(255),
            BattingTeam VARCHAR(255) NOT NULL
        );
        """
        cursor.execute(create_table_query)
        print("Table is created....")
        
        # Replace 'ipl' with your actual DataFrame
        for i, row in ipl.iterrows():
            insert_query = """
            INSERT INTO ipl (ID, innings, overs, ballnumber, batter, bowler, non_striker, extra_type, batsman_run, extras_run, total_run, non_boundary, isWicketDelivery, player_out, kind, fielders_involved, BattingTeam)
            VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s);
            """
            cursor.execute(insert_query, tuple(row))
            print("Record inserted")
            conn.commit()

except Error as e:
    print("Error while connecting to MySQL", e)
finally:
    if conn.is_connected():
        cursor.close()
        conn.close()

In [ ]:
import mysql